// FOOTER

.footer {
	position:relative;
	height: 100vh;
	width: 100%;
	background-image:$gradient-ocean-1;
	font-family: $poppins;
	color:$light;
			
	.footer-img{
		position: absolute;
		z-index: 10;
		width: 100%;
		height: 450px;
		background-image: url( ../img/elpenionfooter.png);
		background-position: 50% 0;
		background-size: 100% 88%;
		background-repeat:no-repeat;
		background-repeat:repeat-x;
		overflow: hidden;
		/*border:red solid 1px;*/
		/*&::BEFORE{
			content: '';
			top:58%;
			position: absolute;
			background-image:$gradient-ocean-2;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			overflow: hidden;
			border:1px blue solid;
		}
		*/
		@include range($bp-xs-2, $bp-xs-3){
			height: 200px;
		}
			
	}
	.footer-capa-1{
		top:40%;
		position: absolute;
		z-index: 20;
		background-image:$gradient-ocean-2;
		width: 100%;
		height: 25%;
		opacity: 0.7;
		overflow: hidden;
		/*border:1px blue solid;*/
		@include range($bp-xs-2, $bp-xs-3){
			top:18%;
		}
	}
	
	.footer-fishes{
		position: relative;
		height: 25%;
		top:40%;
		z-index:15;
		/*border:orange solid 5px;*/
		@include range($bp-xs-2, $bp-xs-3){
			top:18%;
			
		}

		.footer-fish-21,.footer-fish-22,.footer-fish-23, .footer-fish-24{
			position: absolute;
			width:138px;
			height: 60px;}
			
			
		.footer-fish-20{
			position: absolute;
			width:38px;
			height: 31px;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.5);
			}
		}
		
		.footer-fish-20{ 
			top:60%;
			left: 95%;
			background-image:url(../img/recurso20.png);
			background-repeat: no-repeat;
			animation: fish20 30s linear infinite;
			
		}
			@keyframes fish20 {
				100%{
					transform: translate(-300px);
					opacity: 0;
				}
				95%{opacity: 1;}
				}
		.footer-fish-21{ 
			top:15%;
			left: 78%;
			background-image:url(../img/recurso21.png);
			background-repeat: no-repeat;
			animation: fish21 30s linear infinite;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.5);
			}
		}
			@keyframes fish21 {
				100%{
					transform: translate(-300px);
					opacity: 0;
				}
				95%{opacity: 1;}
				}
		.footer-fish-22{ 
			top:55%;
			left: 10%;
			background-image:url(../img/recurso22.png);
			background-repeat: no-repeat;
			animation: fish22 30s linear infinite;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.5);
			}
		}
			@keyframes fish22 {
				100%{
					transform: translate(300px);
					opacity: 0;
				}
				95%{opacity: 1;}
				}
		.footer-fish-23{ 
			top:10%;
			left: 1%;
			background-image:url(../img/recurso23.png);
			background-repeat: no-repeat;
			animation: fish23 30s linear infinite;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.5);
			}
		}
			@keyframes fish23 {
				100%{
					transform: translate(300px);
					opacity: 0;
				}
				95%{opacity: 1;}
				}
		.footer-fish-24{ 
			top:65%;
			left: 60%;
			background-image:url(../img/recurso24.png);
			background-repeat: no-repeat;
			animation: fish24 30s linear infinite;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.4);
			}
		}
			@keyframes fish24 {
				100%{
					transform: translate(-300px);
					opacity: 0;
				}
				95%{opacity: 1;}
				}
	}
	.footer-general{
		position: relative;
		display:grid;
		height: 30%;
		width: 100%;
		top:40%;
		/*border:violet solid 1px;*/
			
		grid-template-columns: 24% 24% 28% 20%;
		grid-column-gap: 1.3%;
		@include range($bp-xs-2, $bp-xs-3){
			top:18%;
			height: 52%;
			grid-template-columns: 100%;
			grid-template-rows: 25% 30% 30% 15%;
			grid-column-gap: 1.3%;
		}
		
		.footer-title{
			display: inline-block;
			width: 100%;
			font-weight: bold;
			font-size: 20px;
			text-align: center;
			margin-top: 25px;
			margin-bottom:10px;
			@include range($bp-xs-2, $bp-xs-3){
				display: none;
			}
		}
		/*.footer-logo,.footer-copywrite, .footer-redes, .footer-reservas, .footer-horarios{
		border:yellow 1px solid;*/
		}
		.footer-logo{
			display:flex;
			align-items: center;
			justify-content: center;
			.footer-logo-penion{
			width: 250px;
			height: 130px;
			@include range($bp-xs-2, $bp-xs-3){
				transform: scale(0.5);
			}
			}
		}
		.footer-reservas{
			@include range($bp-xs-2, $bp-xs-3){
				
				margin-top: 0px;
			}
			.footer-cellphone{
				text-align: center;
				padding-top: 10px;
			
				
			}
			.footer-direction{
				text-align: center;
								
			}
		
	

		}
		.footer-horarios{
			.footer-day-hour{
				text-align: center;
				padding-bottom: 10px;
				@include range($bp-xs-2, $bp-xs-3){
					font-size: 16px;
				}
			}
		}
		
		.footer-redes{	
			position: relative;
			display:inline-block;
			
			
			@include range($bp-xs-2, $bp-xs-3){
				display: flex;
				justify-content:center;
				align-items: center; 
			}
			
			.footer-redes-logo {
				display: inline-block;
				margin-top: 100px;
				width: 45px;
				height: 45px;
				margin: 15px;
				opacity: 0.7;
				@include range($bp-xs-2, $bp-xs-3){
					font-size: 16px;
					width: 25px;
					height: 25px;
				}
			}
		}

		
	}
	.footer-copywrite{
		position: relative;
		display: flex;
		justify-content: center;
		top:40%;
		height: 5%;
		/*border:solid palevioletred 1px;*/
		font-size: 16px;
		@include range($bp-xs-2, $bp-xs-3){
			top:18%;
			height: 2%;
			font-size: 14px
		}
		a{
			color:#01b1ea;
		}
	}
	
