// CONTACTANOS
.contactanos {
	position: relative;
	overflow: hidden;
	@extend %sec-p;
	&-wrapper {
		@extend %container;
	}
	&-title {
		@extend %title-2;
		padding-bottom: 20px;
		color: $text-title-2;
	}
	&-form {
		&-fish {
			position: absolute;
			width: 235px;
			height: 104px;
			background-image:url(../img/platillos/fish.png);
			animation: myfirst 16s linear infinite;
		}
		&-group {
			@extend %group;
			&-active {
				@extend %group;
				background-image: url(../img/platillos/octo.png);
			}
			&-error {
				@extend %group;
				color: $red;
				background-image: url(../img/platillos/octo-error.png);
			}
			@include desktop($bp-sm){
				&-active {
					background-image: none;
				}
				&-error {
					background-image: none;
				}
			}
		}
		& form {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: 500px;
			& label, & input, & textarea {
				display: block;
			}
			& label {
				margin-top: 20px;
				padding-left: 20px;
				font-size: 1.5em;
				font-family: $pacifico;
				color: $blue-dark;
			}
			& input {
				@extend %input-contactanos;
				&[type="submit"] {
					height: 80px;
					margin-top: 50px;
					font-size: 1.29em;
					color: $text-light;
					cursor: pointer;
					background-color:$blue-dark;
					transition: background-color .5s;
					&:hover {
						background-color: $orange;					
					}
				}
			}
			& textarea {
				@extend %input-contactanos;
				height: 100px;	
				resize: none;
					// Scroll
					&::-webkit-scrollbar {
						width: 10px;
						height: 10px;
					}
					&::-webkit-scrollbar-track {
						background-color: transparent;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 8px;
						background-color: rgba(0, 0, 0, .5);
					}
				}
			}
		} 
	}

	#fish {
		top: 10%;
		left: 0;
	}

	#fish2 {
		top: 30%;
		left: 0;
		animation-delay: 2s;
	}

	#fish3 {
		bottom: 20%;
		left: 0;
		animation-delay: 1s;
	}

	/* Animation */
	@keyframes myfirst
	{
		0% {margin-left: -20%}
		80% {margin-left: 100%;}
		100% {margin-left: 100%;}
	}
