// SERVICIOS

.platillos {
	@extend %sec-p;
	overflow: hidden;
	&-wrapper {
		@extend %container;
	}
	&-title {
		@extend %title-2;
		color: $text-title-2;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&-icon {
		display: inline-block;
		height: 80px;
		width: 80px;
		margin-left: 10px;
		background-image: url('../img/platillos/ship.png');
	}
	&-platillos {
		display: grid;
		grid-template-columns: minmax(250px,1fr);
		justify-content: center;
		margin-bottom: 50px;
		@include mobile($bp-sm-1){
			grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
			grid-auto-rows: 245px;
			grid-auto-flow: dense;
			&-horizontal {
				grid-column: span 2;
				font-size: 1.3em;
			}
			&-grande {
				grid-column: span 2;
				grid-row: span 2;
				font-size: 1.6em;
			}
		}
		& figure {
			position: relative;
			color: $text-light;
			background-color: $dark;
			& img {
				height: 100%;
				border: .5px solid $light;
				opacity: 1;
				transition: opacity .4s ease;
				will-change: opacity;
			}
			& figcaption {
				display: flex;
				justify-content: center;
				align-content: center;
				flex-flow: wrap column;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				font-size: 1.5em;
				text-align: center;
				padding: 1em;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					right: 30px;
					bottom: 50%;
					left: 30px;
					border-top: 1px solid rgba(255, 255, 255, 0.8);
					border-bottom: 1px solid rgba(255, 255, 255, 0.8);
					background-color: $light;
					opacity: 0;
					transition: .4s;
					// transition-delay: .6s;
					will-change: opacity;
				}
				& h3 {
					font-family: $pacifico;
					text-shadow: 1px 1px 0 $dark;
					word-spacing: -0.15em;
					transition: all 0.35s;
					// transition-delay: 0.3s;
					transform: translate3d(0%, 50%, 0);
					opacity: 0;
				}
				& p {
					font-size: .8em;
					font-weight: 200;
					text-shadow: 1px 1px 0 $dark;
					transition: all .35s;
					opacity: 0;
				}
				& a {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
			}
			&:hover img {
				opacity: .8;
			}
			&:hover figcaption {
				& h3, & p{
					transform: translate3d(0%, 0%, 0);
					transition-delay: 0.3s;
					opacity: 1;
				}
				&:before {
					top: 30px;
					bottom: 30px;
					transition-delay: 0s;
					background-color: $dark;
					opacity: .3;
				}
			} 
		}
		
	}
	&-carta {
		display: flex;
		justify-content: center;
		align-content: center;
		&-btn {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			border-radius: 8px;
			font-family: $pacifico;
			color:$light;
			font-size: 20px;
			box-shadow: inset 0 -.3em rgba(0,0,0,.2);
			background-color: $blue-dark;
			transition: .3s;
			will-change: transform;
			&:hover span{
				animation: zumbido .5s infinite;
			}
			&:active {
				transform: scale(.9);
			}
			& span {
				display: inline-block;
				width: 60px;
				height: 60px;
				background-size: 90%;
				background-repeat: no-repeat;
				background-image: url(../img/platillos/fish-dish.png);
			}
		}
		
	}

}
@keyframes zumbido{
	0%,100%{
		transform: translateX(0px)
	}
	50%{
		transform: translateX(4px);
	}
}