// HEADER

.header {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	background: $bg-header-active;
	box-shadow: 0 6px 28px 0 rgba(24, 52, 117, .2);
	&-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@extend %container;
	}
	&-volver {
		color: $text-light;
	}
}

.brand-logo {
	width: 60px;
	margin-top: 8px;
	margin-bottom: 8px;
}