<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="author" content="NibbleFrame, nibbleframe247@gmail.com">
	<meta name="description" content="Template - Single Page | NibbleFrame">
	<meta name="language" content="es">
	<title>El Peñon | Menu</title>
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
	<!-- DEVELOPMENT -->
	<!-- FontAwesome -->
	<link rel="stylesheet" href="../assets/resources/fontawesome/css/all.css">
	<!-- OUR STYLES -->
	<link rel="stylesheet" href="assets/css/styles.css" />
	<!-- ICON -->
	<link rel="shortcut icon" href="../penion.ico">
</head>
<body>

	<!-- LOADING -->
	<div class="loading">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
			</svg>
		</div>
	</div>

	<header class="header">
		<div class="header-wrapper">
			<a href="../" class="brand-logo"><img src="../assets/img/logo.png" alt="logo"></a>
			<a href="../" class="header-volver"><i class="fas fa-arrow-left"></i> Volver</a>
		</div>
	</header>

	<!--inicio de menu-->
	<div class="menu">
		<a href="http://nibbleframe.club/cartaPenion/" class="fbp-embed"  data-fbp-lightbox="yes" data-fbp-width="100%" data-fbp-height="100vh"  data-fbp-method="site" data-fbp-version="2.9.51"   style="max-width: 100%">Peñon</a><script async defer src="http://nibbleframe.club/cartaPenion/files/html/static/embed.js?uni=436efb2de1990fcdce9f6d1603423da2"></script>
	</div>
	<!--fin de menu-->

	<!-- JAVASCRIPT -->
	<script src="assets/js/variables.js"></script>
	<script src="../assets/js/loading.js"></script>
	<script src="assets/js/main.js"></script>
</body>
</html>